.header {
  display: none;
}

.header--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hamburgerMenu {
  font-size: 2rem;
  cursor: pointer;
}

.header__top,
.header__bottom {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 0.375rem 0;
}

.header__top {
  border-bottom: 1px solid var(--header-top-border-color);
  font-size: 13px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contacts .u-link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--accent-green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.75rem;
}

.header__contacts span {
  color: var(--font-color);
  margin-left: 0.375rem;
  -webkit-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.header__contacts span:hover {
  color: var(--accent-green);
}

.header__bottom {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0;
}

.header__bottom .nav {
  margin-right: auto;
}

.header__logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.header__logoImg {
  height: 35px;
  margin-right: 1.5rem;
}

.logo__txt {
  color: var(--accent-green);
  font-size: 1.8rem;
}

.header__search {
  margin-right: 1.5rem;
  position: relative;
}

.u-input--headerSearch {
  padding: 0.375rem 0.75rem;
  border-radius: 6px;
  border-color: var(--font-color);
}

.btn--headerSearch {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  background-color: transparent;
  color: var(--font-color);
}

.header__bottom .u-link--whatsApp {
  font-size: 1.2rem;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  -webkit-transition: var(--default-transition);
  -o-transition: var(--default-transition);
  transition: var(--default-transition);
}

.header__bottom .u-link--whatsApp:hover {
  color: var(--accent-green);
}

.header__bottom .whatsApp__icon {
  color: var(--accent-green);
  font-size: 1.4rem;
  margin-right: 0.75rem;
}

.header__bottom .btn--cta {
  background-color: var(--accent-orange);
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
}

.header__basket {
  font-size: 1.4rem;
}

@media all and (min-width: 576px) {
}

@media all and (min-width: 768px) {
  .header {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .header {
    display: block;
  }

  .header--mobile {
    display: none;
  }
}

@media all and (min-width: 1280px) {
}
